

<div class="container  px-4 px-lg-5" >
  <div class="accordion-option">
    <a href="javascript:void(0)" class="toggle-accordion active" accordion-id="#accordion"></a>
  </div>
  <div class="clearfix"></div>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
        <a role="button" id="parrafo" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{msg_1}}
        </a>
      </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body"><br>
          <h1 id="cartel2">{{msg_2}}<b style="color:rgba(170,54,165,1.000);">&nbsp;!</b><b style="color:rgba(0,170,238,1.000);">!</b></h1><br>
              <p class="card-text parrafo" id="parrafo">{{msg_3}}</p><br>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
        <a class="collapsed" role="button" id="parrafo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">{{msg_4}}
        </a>
      </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body"><br>
          <h2 class="card-title parrafo" id="cartel2">{{msg_4}}<b style="color:rgba(170,54,165,1.000);">&nbsp;!</b><b style="color:rgba(0,170,238,1.000);">!</b></h2><br>
          <p class="card-text" id="parrafo">{{msg_5}}{{msg_6}}
          </p><br>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
        <a class="collapsed" role="button"  id="parrafo"data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">{{msg_7}}</a>
      </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body"><br>
          <p class="card-text" id="parrafo"><h2 class="card-title parrafo" id="cartel2">{{msg_7}}<b style="color:rgba(170,54,165,1.000);">!</b><b style="color:rgba(0,170,238,1.000);">!</b></h2>
          <p class="card-text" id="parrafo"><a href="https://github.com/Pabloluisroth/SingleQuickNotes/tree/main" target="_blank">{{msg_8}}</a><br>
          </p>
        </div>
      </div>
    </div>

  </div><br>
</div>
