.derecha{
    float:right;
    color: #6a6c6f;
    margin-right: 35px;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

h2{padding-top: 15px;}

.btn{
  background-color: white;
}


button
{margin-left: 30px;
    cursor:pointer;}

    .button-image {

      background-image: 40px 40px;
      height: 40px;
      width:40px;
      justify-content: center;
      vertical-align: middle;
      border-radius: 50% ;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }

  .button-image:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
