*{
  margin: 0 auto;
  font-family: 'century gothic'
}
button{
  background-color: dodgerblue;
  background: linear-gradient(to  right,#4fc3f7,#66bb6a);
  border:none;
  font-size: 15px;
  color: white;
  border-radius: 3px;
  margin: 10px;
  padding: 5px 15px 5px 15px;
  text-align:center;
  cursor: pointer;
}

.cyan{color: #00aace;}
.violet{color:#aa36a5;}

.content{
  width: 100%;
  text-align: center;
  padding: 50px 0px 50px 0px
}





