
<div class="container  px-lg-5">
   <div class="row gx-2  align-items-center my-4">
       <div class="col-lg-6"><img class="img-fluid rounded mb-4 mb-lg-2" src="./../../assets/img/logo0-removebg-preview-removebg-preview.png" width="350px" height="350" id="home" alt="..." /></div>
       <div class="col-lg-6">
           <ul class="list-unstyled wrapper">
              <li id="parrafo"><i class="fa fa-quote-left violet" style="font-size:17px"></i>&nbsp;{{msg_1}}&nbsp;<i class="fa fa-quote-right cyan" style="font-size:17px"></i></li>
           </ul>
       </div>
   </div>
</div>


